# See: https://git-scm.com/docs/gitmailmap

Derek Lewis <dereknongeneric@open.inf.is>
Derek Lewis <dereknongeneric@open.inf.is> <DerekNonGeneric@inf.is>
OpenINF-bot <openinfbot@open.inf.is>
OpenINF-bot <openinfbot@open.inf.is> <132791922+openinfbot@users.noreply.github.com>
OpenINF-bot <openinfbot@open.inf.is> OpenINF Bot <openinfbot@open.inf.is>
