# See: https://git-scm.com/docs/gitmailmap

Derek Lewis <dereknongeneric@open.inf.is>
Derek Lewis <dereknongeneric@open.inf.is> <DerekNonGeneric@inf.is>
Grimes <grimes@open.inf.is>
Princess Irulen <grimes@open.inf.is> Grimes <grimes@open.inf.is>
OpenINF Bot <openinfbot@open.inf.is>
OpenINF Bot <openinfbot@open.inf.is> <132791922+openinfbot@users.noreply.github.com>
