{
  "extends": [
    "stylelint-config-standard"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "color-hex-case": "upper",
    "number-leading-zero": "never",
    "order/properties-alphabetical-order": true
  }
}
