# Site personalization settings accessed in templates via {{ site.myvariable }}.
title: OpenINF
email: code@open.inf.is
description: >-
  Aggregate, curate, disseminate, and apply information derived from diverse
  sources.
baseurl: ""
url: "https://open.inf.is"
twitter_username: openinf
github_username: openinf
repository: openinf/openinf.github.io

# Site build settings.
markdown: kramdown
plugins:
  - jekyll-octicons
  - jekyll-redirect-from
whitelist:
  - jekyll-redirect-from

# Document collections.
collections:
  authors:
    output: true

# Exclude from processing.
exclude:
  - babel.config.json
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - package.json
  - README.md
  - tmp/
  - vendor/
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - SECURITY.md
  - SUPPORT.md
  - VISION.md
