* {
  box-sizing: border-box;
}

a {
  color: #089;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin-bottom: 8rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  line-height: 1.5;
  color: #1D1916;
  background-color: #E7E7D6;
}

.container {
  position: relative;
  display: block;
  max-width: 1400px;
  min-height: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;
  overflow: auto;
}

.docs {
  padding-bottom: 3rem;
}

.icon {
  line-height: 24px;
}

.improve {
  margin: 0.67em 0.67em 0 0;
}

.improve a {
  padding: 0.75rem;
  color: #77675a;
  text-decoration: none;
  border: 1px solid #77675a;
  border-radius: 5px;
}

.improve a:hover {
  color: #089;
  text-decoration: none;
  border: 1px solid #089;
}

.right {
  float: right;
}

:focus {
  outline: rgb(0 0 0 / 50%) solid 0.125rem;
  outline-offset: 0.125rem;
}

.xlinkable {
  display: none;
}

.grid-container {
  display: grid;
}

.grid-start {
  justify-self: start;
}

.grid-end {
  justify-self: end;
}

footer {
  width: 100%;
  height: 4.5rem;
  padding: 0 1.5rem;
  color: #77675a;
}

footer div {
  width: 100%;
  text-align: center;
}

footer div:nth-child(2) {
  line-height: 3em;
}

footer .grid-container {
  grid-template-rows: 1fr 1fr;
  padding-top: 1.5rem;
  border-top: 1px solid #a7978b;
}

@media only screen and (min-width: 768px) {
  footer .grid-container {
    grid-template-columns: 1fr 1fr;
  }

  footer .grid-start {
    justify-self: start;
    text-align: left;
  }

  footer .grid-end {
    justify-self: end;
    text-align: right;
  }
}

.sigil {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  background: none;
  border: none;
}

.sigil svg {
  width: 100px;
  height: 100px;
}

.neon-text {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

/* Additional error page styling */

body.error {
  font-family: "Vibur", sans-serif;
  background-color: #16191D;
}

.error h1,
.error h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.error h1 {
  font-size: 4.2rem;
  margin: 1.5em;
}

.error h2 {
  font-size: 1.8rem;
}

.error .container {
  padding-top: 20vh;
}
