<footer class="py-3 mt-auto border-top bg-body-tertiary">
  <p class="text-center text-body-secondary my-0">
    &copy; {{ site.time | date: '%Y' }} The OpenINF Authors &amp; Friends
  </p>
</footer>

<script>
  (async () => {
    const sidebar = document.querySelector('#sidebar');
    await customElements.whenDefined('bento-sidebar');
    const api = await sidebar.getApi();

    // set up button actions
    const matches = document.querySelectorAll('.navbar-toggler');

    matches.forEach((match) => {
      match.onclick = () => api.toggle(0);
    });
  })();
</script>
