<footer class="footer mt-auto py-3 bg-body-tertiary">
  <div class="container">
    <span
      >Suggestions and comments are welcome.<br>
      Please
      <a
        href="https://github.com/OpenINF/open.inf.is/issues/new"
        target="_blank"
        rel="external nofollow noopener noreferrer"
        >open an issue</a
      >
      in
      <a
        href="https://github.com/OpenINF/open.inf.is"
        target="_blank"
        rel="external nofollow noopener noreferrer"
        >our site repository</a
      >.</span
    >
    <span>&copy; The OpenINF Authors &amp; Friends</span>
  </div>
</footer>
<script>
  (async () => {
    const sidebar = document.querySelector('#sidebar');
    await customElements.whenDefined('bento-sidebar');
    const api = await sidebar.getApi();

    // set up button actions
    const matches = document.querySelectorAll('.navbar-toggler');

    matches.forEach((match) => {
      match.onclick = () => api.toggle(0);
    });
  })();
</script>
