<footer>
  <!--
  <div class="grid-container">
    <div class="grid-start">
      <span>Suggestions and comments are welcome.<br />Please
        <a href="https://github.com/OpenINF/open.inf.is/issues/new" target="_blank" rel="external nofollow noopener noreferrer">open an issue</a>
        in
        <a href="https://github.com/OpenINF/open.inf.is" target="_blank" rel="external nofollow noopener noreferrer">our site repository</a>.</span>
    </div>
    <div class="grid-end">
      <span>&copy; The OpenINF Authors &amp; Friends</span>
    </div>
  </div>-->
</footer>
