<head>
  <meta charset="utf-8">
  <meta
    name="viewport"
    content="width=device-width,maximum-scale=1,minimum-scale=1,initial-scale=1">
  <link
    type="image/svg+xml"
    rel="shortcut icon preload"
    as="image"
    href="https://open.inf.is/assets/img/svg/logo.svg"
    integrity="sha512-MhRWk6SE+DkE7TeYTf7QigVZjcVTEUJKwbMR60ZYS9xcA1k3eGkRRTM4xklozGDEYJjbQVx9ZwN/7+itkV5fQw=="
    crossorigin="anonymous">
  <meta
    name="description"
    content="{{ site.description }}">
  <meta name="format-detection" content="telephone=no">
  {% if post.status == 'unpublished' or page.status == 'unpublished' %}
    <meta name="robots" content="noindex, nofollow, noarchive">
  {% endif %}
  <title>
    {% if page.permalink == '/' -%}
      {{- site.title -}}
    {%- else -%}
      {{- page.title }} &middot; {{ site.title -}}
    {%- endif %}
  </title>
  <script
    type="module"
    src="https://cdn.ampproject.org/bento.mjs"
    crossorigin="anonymous"></script>
  <script
    nomodule
    src="https://cdn.ampproject.org/bento.js"
    crossorigin="anonymous"></script>
  <script
    type="module"
    src="https://cdn.ampproject.org/v0/bento-sidebar-1.0.mjs"
    crossorigin="anonymous"></script>
  <script
    nomodule
    src="https://cdn.ampproject.org/v0/bento-sidebar-1.0.js"
    crossorigin="anonymous"></script>
  <link
    rel="stylesheet"
    href="https://cdn.ampproject.org/v0/bento-sidebar-1.0.css"
    crossorigin="anonymous">
  <link
    rel="stylesheet"
    href="/assets/styles/main.css">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  {% if page.permalink == '/' %}
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "license": "https://open.inf.is/license",
        "about": {
          "description": "{{ site.description }}"
        }
      }
    </script>
  {% endif %}
</head>
