<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,maximum-scale=1,minimum-scale=1,initial-scale=1,user-scalable=no">
  <link type="image/svg+xml" rel="shortcut icon"
    href="https://raw.github.com/openinf/openinf.github.io/HEAD/logo.svg?sanitize=true">
  <meta name="description"
    content="Aggregate, curate, disseminate, and apply information derived from diverse sources.">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="canonical" href=".">
  <title>{% if page.class != 'home' %}{{ page.title }} &middot; {% endif %}{{ site.title }}</title>
</head>
