.featured-sites {
  margin-right: -1px;
  margin-left: -1px;
}

.featured-sites .col-xs-6 {
  padding: 1px;
}

.featured-sites .img-fluid {
  margin-top: 0;
}

@media (width >= 768px) {
  .featured-sites .col-sm-3:first-child img {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  .featured-sites .col-sm-3:last-child img {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
}
