.footer {
  margin: 1rem 0;
  text-align: center;

  span {
    display: block;
    font-size: 0.625rem;
    color: $footer-foreground;

    a {
      color: $footer-foreground;
      text-decoration: underline;
    }
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
    margin: 1rem 0 0;

    path,
    polygon,
    rect {
      fill: $footer-foreground;
    }
  }
}
