li {
  list-style-type: none;
}

.list-detail {
  display: table-cell;
  width: 100%;
  padding: 25px 0;

  p {
    margin: 0;
  }

  .title-block {
    position: relative;
    padding-right: 15px;

    .title {
      display: block;
      margin: 0 0 0.4em;
      font-size: 24px;
      font-weight: 400;

      @include media-breakpoint-down(md) {
        font-size: 18px;
        line-height: 1.3333;
      }
    }

    .sub-title {
      display: block;
      font-size: $font-size-h5;
    }

    @include media-breakpoint-down(sm) {
      // -1
      padding-right: 40px;
    }
  }
}

.list-wrap {
  color: inherit;
}

.list-wrap,
.list-wrap.is-search .list-detail {
  display: block;
}

.list-wrap.is-link {
  text-decoration: none;

  .list-detail {
    .title {
      color: $body-color;
      text-decoration: none;
      transition: 125ms color ease-in;
    }
  }
}

.list-wrap.is-link:hover {
  .title {
    color: $brand-primary;
    text-decoration: none;
    transition: 125ms color ease-in;
  }

  .summary {
    color: $body-color;
    text-decoration: none;
  }
}

.list-header {
  display: table-cell;
  vertical-align: top;

  @include media-breakpoint-down(md) {
    padding-top: 16px;
  }

  .bubble {
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 35px;

    @include media-breakpoint-up(md) {
      margin-top: 20px;
      margin-right: 32px;
    }

    @include media-breakpoint-down(md) {
      width: 56px;
      height: 56px;
      margin-top: 20px;
      margin-right: 32px;
    }

    @include media-breakpoint-down(sm) {
      width: 56px;
      height: 56px;
      // -1
      margin-top: 14px;
      margin-right: 16px;
    }

    path {
      fill: $body-color;
    }
  }
}

.grouped-list-wrapper {
  .grouped-list {
    margin-bottom: 0;
  }

  .grouped-list-title {
    padding: 32px 0 16px;
    margin-bottom: 1rem;
    color: $text-muted;
    text-transform: uppercase;
    border-bottom: 2px solid $text-muted;

    @include media-breakpoint-up(sm) {
      padding: 32px 0;
    }
  }
}
