.container .sidebar-nav {
  display: none;
}

amp-sidebar {
  background: $brand-foreground;
}

amp-sidebar nav {
  width: 12.5rem;
  padding: 0;
  margin: 0;
  background: $brand-foreground;
  border-right: 0;

  a,
  span {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: $font-size-base;
    color: $gray-dark;
    letter-spacing: 0.04em;
  }

  ul {
    padding-right: 0;
    padding-left: 0;

    li {
      margin-bottom: 0;
      list-style: none;

      ul {
        margin-bottom: 0;
        margin-left: 0;

        li {
          margin: 0;
          list-style: none;

          a {
            padding: 0 1rem;
            font-size: 1.2rem;
            line-height: 3.75rem;
          }

          &.is-active {
            background: shade($brand-secondary, 1%);

            a {
              color: lighten($brand-primary, 8%);
              border-left: 3px solid;
            }
          }
        }
      }
    }
  }
}
