.search {
  position: relative;
  margin-top: 14px;
  margin-left: 7px;
  background-color: transparent;

  .search-submit {
    position: absolute;
    top: 4px;
    right: 8px;
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    font-style: normal;
    vertical-align: baseline;
    appearance: none;
    background-color: transparent;
    background-image: linear-gradient(transparent, transparent),
      url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22%23dae0e7%22%3E%0A%20%20%3Cpath%20d%3D%22M15.5%2014h-.8l-.27-.27C15.4%2012.6%2016%2011.1%2016%209.5%2016%205.9%2013.1%203%209.5%203S3%205.9%203%209.5%205.9%2016%209.5%2016c1.6%200%203.1-.6%204.23-1.57l.27.28v.8l5%205%201.5-1.5-5-5zm-6%200C7%2014%205%2012%205%209.5S7%205%209.5%205%2014%207%2014%209.5%2012%2014%209.5%2014z%22%2F%3E%0A%3C%2Fsvg%3E%0A');
    border: 0;

    &:hover {
      cursor: pointer;
    }

    &:active {
      border: 0;
      outline: none;
    }
  }

  .form-search {
    float: left;
    width: 220px;
    height: 32px;
    margin: 0;

    &:active .search-submit,
    &:focus .search-submit {
      border: 0;
      outline: none;
    }

    @include media-breakpoint-down(sm) {
      float: right;
      width: auto;
    }

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  .search-input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 32px;
    padding: 5px 27px 6px 12px;
    font-size: 12px;
    line-height: 1;
    color: $brand-foreground;
    background-color: transparent;
    border: $border-width solid $brand-secondary;
    border-radius: 18px;
    transition: all 0.2s ease-in-out;

    &:focus,
    &:active {
      border: $border-width solid $brand-foreground;
      outline: none;
    }

    @include media-breakpoint-down(sm) {
      float: right;
      width: 96px;
    }
  }
}
