.social-box {
  display: inline-block;
  padding: 0.5rem 0.65rem;
  margin: 0.5rem 0 1.5rem;
  line-height: 0;
  border: $border-width solid $brand-secondary;
  border-radius: $border-radius;

  amp-social-share:not(:last-child) {
    margin-right: 1em;
  }

  amp-social-share[type='twitter'] {
    background: transparent;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path fill="#55acee" d="M31.4 90.7c37.7 0 58.4-31.3 58.4-58.4v-2.6c4-2.9 7.5-6.5 10.2-10.6-3.7 1.6-7.6 2.7-11.8 3.2 4.2-2.5 7.5-6.6 9-11.4-4 2.4-8.4 4-13 5-3.8-4-9.1-6.5-15-6.5-11.3 0-20.5 9.2-20.5 20.5 0 1.6.2 3.2.5 4.7-17-.8-32.2-9-42.3-21.4-1.8 3-2.8 6.6-2.8 10.3 0 7.1 3.6 13.4 9.1 17.1-3.4-.1-6.5-1-9.3-2.6v.3c0 9.9 7.1 18.2 16.4 20.1-1.7.5-3.5.7-5.4.7-1.3 0-2.6-.1-3.8-.4 2.6 8.2 10.2 14.1 19.2 14.2-7 5.5-15.9 8.8-25.5 8.8-1.6 0-3.3-.1-4.9-.3 9.1 5.9 19.9 9.3 31.5 9.3"/></svg>');
  }

  amp-social-share[type='facebook'] {
    background: transparent;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path fill="#3b5998" d="M94.4-.1h-89c-3 0-5.5 2.5-5.5 5.5v89c0 3 2.5 5.5 5.5 5.5h47.9V61.2h-13V46.1h13V35c0-12.9 7.9-19.9 19.4-19.9 5.5 0 10.3.4 11.6.6v13.5h-8c-6.3 0-7.5 3-7.5 7.3v9.6h14.9l-1.9 15.1h-13v38.7h25.5c3 0 5.5-2.5 5.5-5.5v-89c.1-3-2.3-5.5-5.4-5.5z"/></svg>');
  }

  amp-social-share[type='pinterest'] {
    background: transparent;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="#bd081c" d="M8 0C3.6 0 0 3.6 0 8c0 3.4 2.1 6.3 5.1 7.4-.1-.6-.1-1.6 0-2.3.1-.6.9-4 .9-4s-.2-.4-.2-1.1c0-1.1.7-2 1.5-2 .7 0 1 .5 1 1.1 0 .7-.4 1.7-.7 2.7-.2.8.4 1.4 1.2 1.4 1.4 0 2.5-1.5 2.5-3.7 0-1.9-1.4-3.3-3.3-3.3-2.3 0-3.6 1.7-3.6 3.5 0 .7.3 1.4.6 1.8v.4c-.1.3-.2.8-.2.9 0 .1-.1.2-.3.1-1-.5-1.6-1.9-1.6-3.1C2.9 5.3 4.7 3 8.2 3c2.8 0 4.9 2 4.9 4.6 0 2.8-1.7 5-4.2 5-.8 0-1.6-.4-1.8-.9l-.5 1.9c-.2.7-.7 1.6-1 2.1.8.2 1.6.3 2.4.3 4.4 0 8-3.6 8-8s-3.6-8-8-8z"/></svg>');
  }

  amp-social-share[type='gplus'] {
    background: transparent;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="#d34836" d="M48,22h-5v-5h-4v5h-5v4h5v5h4v-5h5 M16,21v6.24h8.72c-0.67,3.76-3.93,6.5-8.72,6.5c-5.28,0-9.57-4.47-9.57-9.75 s4.29-9.74,9.57-9.74c2.38,0,4.51,0.82,6.19,2.42v0.01l4.51-4.51C23.93,9.59,20.32,8,16,8C7.16,8,0,15.16,0,24s7.16,16,16,16 c9.24,0,15.36-6.5,15.36-15.64c0-1.17-0.11-2.29-0.31-3.36C31.05,21,16,21,16,21z"/></svg>');
  }

  amp-social-share[type='email'] {
    background: transparent;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="#384657" d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/></svg>');
  }
}
