---
---

@import 'main';

body {
  max-width: 700px;
  margin: 1rem auto 0;
  padding: 1rem;

  > * + * {
    margin-top: 4rem;
  }
}

h2 {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

h2:after {
  content: '';
  flex: 1;
  border: 1px solid rgba($base-color, 0.88);
  margin-inline-start: 0.5rem;
}
