@import 'bootstrap/variables';


$brand-primary: $primary;
$brand-secondary: $secondary;
$brand-foreground: $primary-text-emphasis;

$navbar-brand-padding-y: $spacer;

$footer-foreground: rgba($body-color, 0.5);
