// Custom Styles

main {
  min-height: 100%;
}

main > .container {
  max-width: 48ch;
  padding: 0 16px 104px;
  padding-top: 74px;
  min-height: 100%;
  position: relative;
}

.navbar-brand svg {
  height: 48px;
}

a {
  color: $primary;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: rgb(0 0 0 / 50%) solid 0.125rem;
  outline-offset: 0.125rem;
}

h1 {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

h1::after {
  flex: 1;
  margin-inline-start: 0.5rem;
  content: '';
  border: 1px solid $tertiary;
}

.site-footer {
  margin-top: -60px !important;
}
