/* Additional error page styling */

body.error {
  font-family: 'Vibur', sans-serif;
  background-color: #16191d;
}

.error h1,
.error h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.error h1 {
  font-size: 4.2rem;
  margin: 1.5em;
}

.error h2 {
  font-size: 1.8rem;
}

.error .container {
  padding-top: 20vh;
}

.neon-text {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}
