/* Additional error page styling */

body.error {
  font-family: Vibur, sans-serif;
  background-color: #16191d;
}

.error h1,
.error h2 {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.error h1 {
  margin: 1.5em;
  font-size: 4.2rem;
}

.error h2 {
  font-size: 1.8rem;
}

.error .container {
  padding-top: 20vh;
}
