//
// Reflection Theme
//

@import 'bourbon/bourbon';

@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/variables-dark';
@import 'bootstrap/maps';

@import 'bootstrap/vendor/rfs';

// Core variables and mixins
@import 'custom';
@import 'bootstrap/mixins';
// @import 'bootstrap/mixins/breakpoints';
// @import 'bootstrap/mixins/container';
// @import 'bootstrap/mixins/grid';
// @import 'bootstrap/mixins/utilities';

// Core CSS
@import 'bootstrap/reboot';
@import 'bootstrap/type';
@import 'bootstrap/containers';
@import 'bootstrap/grid';

// Components
@import 'header';
@import 'search';
@import 'nav';
@import 'outro';
@import 'footer';

// Utility classes
@import 'bootstrap/utilities';
// Only use the utilities we need
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-get-multiple(
  $utilities,
  (
    'display',
    'order',
    'flex',
    'flex-direction',
    'flex-grow',
    'flex-shrink',
    'flex-wrap',
    'justify-content',
    'align-items',
    'align-content',
    'align-self',
    'margin',
    'margin-x',
    'margin-y',
    'margin-top',
    'margin-end',
    'margin-bottom',
    'margin-start',
    'negative-margin',
    'negative-margin-x',
    'negative-margin-y',
    'negative-margin-top',
    'negative-margin-end',
    'negative-margin-bottom',
    'negative-margin-start',
    'padding',
    'padding-x',
    'padding-y',
    'padding-top',
    'padding-end',
    'padding-bottom',
    'padding-start'
  )
);

@import 'bootstrap/utilities/api';

body {
  padding-top: 60px;
}

h2 {
  font-weight: 300;
  text-transform: uppercase;
}

.page-heading {
  margin-bottom: 24px;
}

.subtitle {
  margin-bottom: $headings-margin-bottom;
  font-size: $h5-font-size;
}

.content {
  padding: 2rem 0;
  background-color: $brand-foreground;
}

.firstcharacter {
  float: left;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-size: 5.4rem;
  line-height: 0.75;
  color: $brand-primary;
}

.dropcapped {
  text-indent: 0;
}

ol,
ul,
dl {
  padding-left: 2ch;
}
