/*!
 * Reflection Theme
 */

.lightbox {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgb(255 255 255 / 80%);

  amp-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: auto;
    padding: 20px;
    margin: auto;
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.-amp-image-lightbox-viewer::after {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 24px;
  height: 24px;
  background-color: #000;
}
