.navbar-toggler svg {
  height: 24px;
}

.navbar-toggler-wrapper {
  display: flex;
  flex-direction: row-reverse;
  height: 74px;
}

bento-sidebar {
  background-color: $secondary;

  .nav-link {
    padding-left: 2rem;
    line-height: 32px;
    border-left: 2px solid transparent;
  }

  .nav-link.active {
    border-left-color: $primary;
  }
}
