---
layout: default
---

<section class="docs container markdown-body">
  <div class="grid">
    <div class="unit four-fifths">
      <article>
        <h1>{{ page.title }}</h1>
        {% if page.editable != false %}
        <div class="improve right">
          <a href="https://github.com/openinf/openinf.github.io/edit/live/{{ page.path }}">Edit</a>
        </div>
        {% endif %}
        <div id="menu">
          <details>
            <summary>Table of contents</summary>
            {% include vendor/toc.html html=content sanitize=true ordered=false %}
          </details>
        </div>
        {% if site.heading_anchors != false %}
        {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg viewBox=\"0 0 16 16\" aria-hidden=\"true\"><use xlink:href=\"#svg-link\"></use></svg>" anchorClass="anchor-heading" anchorAttrs="aria-labelledby=\"%html_id%\"" %}
        {% else %}
        {{- content -}}
        {% endif %}
      </article>
    </div>
  </div>
</section>
