---
layout: default
---
<main class="flex-shrink-0">
  <div class="container">
    <article itemscope itemtype="http://schema.org/Article">
      <h1 class="post-title mt-5 mb-4" itemprop="headline">
        {{ page.title }}
      </h1>
      <span class="post-category">
        <span class="label">
          {{- page.categories | array_to_sentence_string -}}
        </span>
      </span>
      <div class="post-meta">
        <span
          class="post-date"
          itemprop="datePublished"
          content="{{ page.date | date: "%Y-%m-%d" }}">
          {{- page.date | date_to_string -}}
        </span>
        {% assign author = page.author -%}
        <a
          class="post-author"
          itemprop="author"
          itemscope
          itemtype="http://schema.org/Person"
          target="_blank"
          href="https://github.com/{{ author }}">
          {% avatar user=author size=24 -%}
          <span class="author-name" itemprop="name">{{ author }}</span>
        </a>
      </div>
      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>
    </article>
  </div>
</main>
<nav class="single-post-pager">
  {% if page.previous.url %}
    <a class="pager-link older-post" href="{{ page.previous.url }}">
      <span class="pager-direction">Older</span>
      <span class="pager-title">{{- page.previous.title -}}</span>
      <span class="pager-date">
        {{- page.previous.date | date_to_string -}}
      </span>
      <span class="pager-chevron">&#8250;</span>
    </a>
  {% endif %}
  {% if page.next.url %}
    <a class="pager-link newer-post" href="{{ page.next.url }} ">
      <span class="pager-direction">Newer</span>
      <span class="pager-title">{{- page.next.title -}}</span>
      <span class="pager-date">{{- page.next.date | date_to_string -}}</span>
      <span class="pager-chevron">&#8249;</span>
    </a>
  {% endif %}
</nav>
