name: Lint and test

# By default, runs when a pull request is opened, synchronized, or reopened.
on: pull_request

jobs:
  lint_and_test:
    name: Lint and test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.0
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: "16.x"
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
      - name: Install
        run: |
          npm install
          gem install bundler && bundle config set --local path 'vendor/bundle'
          bundle install

      # Checks to see if any files in the PR match one of the listed file types.
      # We can use this filter to decide whether or not to run linters or tests.
      # You can check if a file with a listed file type is in the PR by doing:
      # if: ${{ steps.filter.outputs.md == 'true' }}
      # This will return true if there's a Markdown file the PR has changed.
      - uses: dorny/paths-filter@v2.11.1
        id: filter
        with:
          filters: |
            html:
              - '**/*.html'
            md:
              - '**/*.md'
            js:
              - '**/*.js'
              - '**/*.mjs'
            json:
              - '**/*.json'
              - '**/*.jsonc'
            css:
              - '**/*.css'
            svg:
              - '**/*.svg'
            yaml:
              - '**/*.yml'
              - '**/*.yaml'

      # Use the filter to check if files with a specific file type were changed
      # in the PR. If they were, run the relevant linters. Otherwise, skip.

      - name: Verify CSS
        if: ${{ steps.filter.outputs.css == 'true' }}
        run: npm run verify:css

      - name: Verify HTML
        if: ${{ steps.filter.outputs.html == 'true' }}
        run: npm run verify:html

      - name: Verify JavaScript
        if: ${{ steps.filter.outputs.js == 'true' || steps.filter.outputs.json == 'true' }}
        run: npm run verify:js

      - name: Verify JSON
        if: ${{ steps.filter.outputs.json == 'true' }}
        run: npm run verify:json

      - name: Verify Markdown
        if: ${{ steps.filter.outputs.md == 'true' }}
        run: npm run verify:md

      - name: Verify SVG
        if: ${{ steps.filter.outputs.svg == 'true' }}
        run: npm run verify:svg

      - name: Verify YAML
        if: ${{ steps.filter.outputs.yaml == 'true' }}
        run: npm run verify:yaml

      # Only run tests if the PR touches behavior-related files.
      - name: Test
        if: ${{ steps.filter.outputs.js == 'true' || steps.filter.outputs.json == 'true' }}
        run: npm run test
