name: Lint and test

# By default, runs when a pull request is opened, synchronized, or reopened.
on: pull_request

jobs:
  lint_and_test:
    name: Lint and test
    runs-on: ubuntu-latest
    steps:
      - name: Check out project repository
        uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4.1.3
      - name: Set up Node.js runtime
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version-file: 'package.json'
      - name: Set up Ruby runtime
        uses: ruby/setup-ruby@70da3bbf44ac06db1b0547ce2acc9380a5270d1e # v1.175.0
      - name: Install
        run: |
          corepack enable
          corepack prepare pnpm@latest --activate
          pnpm install
          echo "$(pwd)/node_modules/.bin" >> $GITHUB_PATH
          gem install bundler && bundle config set --local path 'vendor/bundle'
          bundle install
      - name: Build
        run: echo 'This task in the works' # JEKYLL_ENV=production bundle exec jekyll build

      # Checks to see if any files in the PR match one of the listed file types.
      # We can use this filter to decide whether or not to run linters or tests.
      # You can check if a file with a listed file type is in the PR by doing:
      # if: ${{ steps.filter.outputs.md == 'true' }}
      # This will return true if there's a Markdown file the PR has changed.
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            html:
              - '**/*.html'
            md:
              - '**/*.md'
            js:
              - '**/*.js'
              - '**/*.mjs'
            json:
              - '**/*.json'
              - '**/*.jsonc'
              - '**/*.json5'
            css:
              - '**/*.css'
            svg:
              - '**/*.svg'
            yaml:
              - '**/*.yml'
              - '**/*.yaml'

      # Use the filter to check if files with a specific file type were changed
      # in the PR. If they were, run the relevant linters. Otherwise, skip.

      - name: Verify CSS
        if: ${{ steps.filter.outputs.css == 'true' }}
        run: nps verify.css

      - name: Verify HTML
        if: ${{ steps.filter.outputs.html == 'true' }}
        run: nps verify.html

      - name: Verify JavaScript
        if: ${{ steps.filter.outputs.js == 'true' || steps.filter.outputs.json == 'true' }}
        run: nps verify.js

      - name: Verify JSON
        if: ${{ steps.filter.outputs.json == 'true' }}
        run: nps verify.json

      - name: Verify Markdown
        if: ${{ steps.filter.outputs.md == 'true' }}
        run: nps verify.md

      - name: Verify SVG
        if: ${{ steps.filter.outputs.svg == 'true' }}
        run: nps verify.svg

      - name: Verify YAML
        if: ${{ steps.filter.outputs.yaml == 'true' }}
        run: nps verify.yaml

      # Only run tests if the PR touches behavior-related files.
      - name: Test
        if: ${{ steps.filter.outputs.js == 'true' || steps.filter.outputs.json == 'true' }}
        run: nps test
