name: Lint and test

# By default, runs when a pull request is opened, synchronized, or reopened.
on: pull_request

jobs:
  lint_and_test:
    name: Lint and test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Setup node
        uses: actions/setup-node@b39b52d1213e96004bfcb1c61a8a6fa8ab84f3e8 # v4.0.1
      - name: Setup Ruby, JRuby, and TruffleRuby
        uses: ruby/setup-ruby@5daca165445f0ae10478593083f72ca2625e241d # v1.169.0
      - name: Install
        run: |
          corepack enable
          corepack prepare pnpm@latest --activate
          pnpm install
          gem install bundler && bundle config set --local path 'vendor/bundle'
          bundle install
      # - name: Build
      #   run: |
      #     JEKYLL_ENV=production bundle exec jekyll build

      # Checks to see if any files in the PR match one of the listed file types.
      # We can use this filter to decide whether or not to run linters or tests.
      # You can check if a file with a listed file type is in the PR by doing:
      # if: ${{ steps.filter.outputs.md == 'true' }}
      # This will return true if there's a Markdown file the PR has changed.
      - uses: dorny/paths-filter@0bc4621a3135347011ad047f9ecf449bf72ce2bd # v3.0.0
        id: filter
        with:
          filters: |
            html:
              - '**/*.html'
            md:
              - '**/*.md'
            js:
              - '**/*.js'
              - '**/*.mjs'
            json:
              - '**/*.json'
              - '**/*.jsonc'
            css:
              - '**/*.css'
            svg:
              - '**/*.svg'
            yaml:
              - '**/*.yml'
              - '**/*.yaml'

      # Use the filter to check if files with a specific file type were changed
      # in the PR. If they were, run the relevant linters. Otherwise, skip.

      - name: Verify CSS
        if: ${{ steps.filter.outputs.css == 'true' }}
        run: npm run verify:css

      - name: Verify HTML
        if: ${{ steps.filter.outputs.html == 'true' }}
        run: npm run verify:html

      - name: Verify JavaScript
        if: ${{ steps.filter.outputs.js == 'true' || steps.filter.outputs.json == 'true' }}
        run: npm run verify:js

      - name: Verify JSON
        if: ${{ steps.filter.outputs.json == 'true' }}
        run: npm run verify:json

      - name: Verify Markdown
        if: ${{ steps.filter.outputs.md == 'true' }}
        run: npm run verify:md

      - name: Verify SVG
        if: ${{ steps.filter.outputs.svg == 'true' }}
        run: npm run verify:svg

      - name: Verify YAML
        if: ${{ steps.filter.outputs.yaml == 'true' }}
        run: npm run verify:yaml

      # Only run tests if the PR touches behavior-related files.
      - name: Test
        if: ${{ steps.filter.outputs.js == 'true' || steps.filter.outputs.json == 'true' }}
        run: npm run test
